@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:opsz,wght@9..40,300;9..40,400;9..40,500;9..40,600;9..40,700;9..40,900&display=swap');

html, body {
    color: #191919;
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
}

.wrapper-grid {
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto 1fr auto;
}

.btn-yellow {
    background-color: #F9D783;
    border: 1px solid #F9D783;
    color: #191919;
    text-decoration: none;
    padding: 12px 30px;
    font-weight: 500;
    font-size: 16px;
    border-radius: 25px;

    i {
        margin-left: 8px;
        font-size: 0.9em;
    }

    &:hover {
        background-color: #d3a6a6;
        border: 1px solid #d3a6a6;
        color: #F0EFE9;
    }
}

.btn-black {
    background-color: #191919;
    border: 1px solid #191919;
    color: #FFFFFF;
    text-decoration: none;
    padding: 12px 30px;
    font-weight: 500;
    font-size: 16px;
    border-radius: 25px;

    i {
        margin-left: 8px;
        font-size: 0.9em;
    }

    &:hover {
        background-color: #d3a6a6;
        border: 1px solid #d3a6a6;
        color: #F0EFE9;
    }
}

.btn-transparent {
    background-color: transparent;
    border: 1px solid #191919;
    color: #191919;
    text-decoration: none;
    padding: 12px 30px;
    font-weight: 600;
    font-size: 16px;
    border-radius: 25px;

    i {
        margin-left: 8px;
        font-size: 0.9em;
    }

    &:hover {
        background-color: #d3a6a6;
        border: 1px solid #d3a6a6;
        color: #F0EFE9;
    }
}

.center-content {
    display: flex;
    justify-content: center;
    align-items: center;
}

.social-media {
    a {
        color: #191919;
        font-size: 1.3rem;
        margin-left: 10px;

        &:hover {
            color: #d3a6a6;
        }
    }
}

.social-media-white {
    a {
        color:#F0EFE9;
        font-size: 1.3rem;
        margin-left: 10px;

        &:hover {
            color: #d3a6a6;
        }
    }
}

.section-title{
    padding-top: 70px;
    padding-bottom: 40px;

    @media (min-width: 768px ) {
        padding-top: 120px;
        padding-bottom: 90px;
    
    }       

    p {
        color: #F94D1C;
        margin-bottom: 10px;
    }

    h2 {
        color: #191919;
        font-family: 'DM Sans', sans-serif;
        font-weight: 700;
        font-size: 45px;
    }
}

.nav-section {
    background-color: #F0EFE9;
    padding: 16px;

    .container {
        display: grid;
        align-items: center;
        grid-template-columns: 1fr auto;
        grid-template-areas:    "logo bars";

        @media (min-width: 992px){
            grid-template-columns: auto 1fr auto;
            grid-template-areas:    "logo cib social"
                                    "logo menu menu";
        }
        
        .btn-menubars {
            grid-area: bars;
            border: none;
            font-size: 25px;
            background-color: transparent;

            @media (min-width: 992px){
                display: none;
            }
        }
                                    
        .logotype {
            grid-area: logo;
            margin-right: 70px;
        }
        .contactinformation-bar {
            grid-area: cib;
            display: none;
            justify-content: flex-start;
            align-items: center;


            @media (min-width: 1200px){
                display: flex;
            }

            .contact-info-box {
                margin-right: 30px;
                padding-right: 30px;
                border-right: 1px solid #DAD9D3;
                font-family: 'Inter', sans-serif;
                font-size: 15px;
                font-weight: 300;

                i {
                    margin-right: 5px;
                    font-size: 1em;
                    color: #666666;
                }
            }
        }
        .socialmedia-bar {
            grid-area: social;
            display: none;

            @media (min-width: 992px){
                display: block;
            }

            a {
                color: #191919;
                font-size: 1.3rem;
                margin-left: 10px;

                &:hover {
                    color: #d3a6a6;
                }
            }
        }
        .menu {
            grid-area: menu;
            display: none;
            justify-content: space-between;
            align-items: center;
            border-top: 1px solid #DAD9D3;
            margin-top: 10px;
            padding-top: 10px;

            @media (min-width: 992px){
                display: flex;
            }

            nav {
                a {
                    display: inline-block;
                    color: #191919;
                    text-decoration: none;
                    margin-right: 35px;
                    position: relative; 

                    &.active {
                        font-weight: 500;
                    }
                    
                    &.active::after,
                    &:hover::after {
                        content: '';
                        position: absolute;
                        font-weight: 500;
                        height: 2px;
                        width: 15px;
                        background-color: #191919;
                        left: 50%;
                        bottom: -3px;
                    }   
                }
            }

            .btn-login {
                padding-top: 12px;
                padding-bottom: 12px;
            }
        }
    }
}

.showcase-main {
    background-color: #F0EFE9;

    .container {
        display: flex;
        justify-content: space-between;
        align-items: center;

        .content {
            padding-top: 40px;
            padding-bottom: 40px;
            text-align: center;

            @media (min-width: 1200px) {
                text-align: left;
            }

           h1 {
            font-family: 'DM Sans', sans-serif;
            font-weight: 700;
            font-size: 40px;

                @media (min-width: 768px) {
                    font-size: 70px;
                }

                @media (min-width: 1400px) {
                    font-size: 86px;
                }
           }

           p {
                font-size: 18px;
                padding-top: 35px;
                padding-bottom: 35px;
                padding-left: 10px;
                padding-right: 10px;

                @media (min-width: 768px) {
                    font-size: 20px;
                    padding-left: 0;
                    padding-right: 0;
                }
           }

           a {
                margin-right: 0px;
                display: block;
                margin-bottom: 20px;

                @media (min-width: 768px) {
                    display: inline-block;
                }
           }
        }

        img {
            display: none;
            margin-right: -50px;

            @media (min-width: 1200px) {
                display: block;
            }
        }
    }
}

.Brands-main {
    margin-bottom: 70px;
    margin-top: 50px;

    .container {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
    }
}

.feature-section {
    padding: 50px 0;

    .container {
        .section-border {
            margin: -50px -90px;
            padding: 50px 80px;
            border: 1px solid #19191910;

            .section-title {
                padding: 0;
                padding-bottom: 20px;
            }

            .feature-grid {
                display: grid;
                grid-template-columns: 1fr 1fr;
                gap: 0px;

                .feature-learnmore {
                    margin-right: 30%;

                    .btn-yellow {
                        display: flex;
                        justify-content: center;
                    }

                    h2 {
                        font-size: 45px;
                        font-weight: 700;
                        margin-bottom: 30px;
                    }

                    a {
                        display: flex;
                    }
                }

                .feature-boxes {

                    .umb-block-list {
                        display: grid;
                        grid-template-columns: 1fr 1fr;
                        gap: 50px;
        
                        .feature-box {
                            i {
                                font-size: 25px;
                                margin-bottom: 20px;
                            }
        
                            h4 {
                                font-size: 22px;
                                font-weight: 700;
                            }
                        }

                    }
                }
            }
        }
    }
}

.founder-section {
    margin-bottom: 70px;
    margin-top: 100px;

    .container {
        display: flex;
        justify-content: space-between;
        height: 615px;
        position: relative;

        img {
            height: 100%;
            width: 533px;
            margin-left: 50px;
            position: relative;

            @media (max-width: 1200px){
                display: none;
            }
        }
        
        
        .founder-post {
            width: 368px;
            height: 180px;
            background-color: #BEEBFF;
            position:absolute;
            top: 360px;

            @media (max-width: 1200px){
                display: none;
            }
            
            h4 {
                padding-top: 25px;
                padding-left: 15px;
                font-family: 'DM Sans' sans-serif;
                font-size: 20px;
                font-weight: 700;

                span {
                    font-family: 'DM Sans' sans-serif;
                    font-size: 16px;
                    font-weight: 700;
                    color: #F94D1C;
                }
            }

            p {
                padding-top: 25px;
                padding-left: 15px;
                font-family: 'Inter', sans-serif;
                font-size: 16px;
                font-weight: 400;
            }
        }

        .founder-about {
            width: 532px;

            h6 {
                font-family: 'Inter', sans-serif;
                font-size: 18px;
                font-weight: 400;
                color: #F94D1C;
            }

            h2 {
                font-family: 'DM Sans' sans-serif;
                font-size: 45px;
                font-weight: 700;
            }

            p {
                font-family: 'Inter', sans-serif;
                font-size: 16px;
                font-weight: 400;
            }

            .founder-video {
                margin-top:175px;
                height: 90px;

                .intro-video {
                    margin-left: 30px;
                    text-decoration: none;
                    color: #191919;
                    font-family: 'Inter', sans-serif;
                    font-size: 16px;
                    font-weight: 400;

                    span {
                        padding: 10px 16px;
                        border-radius: 100%;
                        border: 1px solid black;
                        margin-right: 10px;
                    }
    
                    i {
                        color: #191919;
                        font-size: 12px;
                    }

                    &:hover {
                        color: #d3a6a6;
                    }
                }
            }
        }
    }
}

.service-section {
    color: #191919;
    background-color: #F0EFE9;
    position: relative;
    z-index: 0;
    padding: 60px 0;

    .container {

        .service-title {
            margin-bottom: 15px;

            p   {
                color: #F94D1C;
            }
        }

        h2 {
            width: 40%;
            font-family: 'DM Sans' sans-serif;
            font-size: 45px;
            font-weight: 700;
            margin-bottom: 45px;
        }
        .umb-block-list {
            display: flex;
            justify-content: space-between;
            gap: 20px;

            .service-box {
                padding: 30px;
                background-color: #FFFFFF;
                transition: all 0.20s ease-in-out;

                .line{
                    background-color: #191919;
                    width: 40px;
                    height: 2px;
                    margin-bottom: 30px;
                }

                h4 {
                    font-family: 'DM Sans' sans-serif;
                    font-size: 22px;
                    font-weight: 700;
                }

                p {
                    font-family: 'Inter', sans-serif;
                    font-size: 16px;
                    font-weight: 400;
                }

                .service-box-links {
                    display: flex;
                    justify-content: flex-end;
                    padding: 20px 0px 0px 0px;

                    i {
                        padding-top: 15px;
                        padding-left: 16px;
                        color: #FFFFFF;

                        &:hover {
                            color: #191919;
                        }
                    }

                    .btn-black-circle {
                        background:#191919;
                        border-radius: 50%;
                        height: 50px;
                        width: 50px;

                        &:hover {
                            background-color: white;
                        }
                    }
                }

                &:hover {
                    background-color: #F9D783;
                }
            }
        }

        .browse-services {
            padding: 50px 0;
            display: flex;
            justify-content: center;
        }
    }
}

.why-us-section {
    margin-top: 100px;
    margin-bottom: 50px;

    .container {
        height: 630px;
        display: flex;
        justify-content: space-between;

        .choose-us-box {
            width: 447px;

            h6 {
                font-family: 'Inter', sans-serif;
                font-size: 18px;
                font-weight: 400;
                color: #F94D1C;
            }

            h2 {
                color: #191919;
                font-family: 'DM Sans', sans-serif;
                font-weight: 700;
                font-size: 45px;
            }

            .four-choose-box {
                margin-top: 50px;

                h3 {
                    color: #191919;
                    font-family: 'DM Sans', sans-serif;
                    font-weight: 700;
                    font-size: 22px;
                }

                p {
                    font-family: 'Inter', sans-serif;
                    font-size: 16px;
                    font-weight: 400;
                }

                i {
                    font-size: 25px;
                    padding-top: 10px;
                }
            }
        }


        img {
            width: 630px;
            height: 505px;

            @media (max-width: 1200px){
                display: none;
            }
        }

    }
}

.project-a-case {
    margin-bottom: 60px;

    .container {

        .section-title {
            text-align: center;
        }

        .project-a-cases {
            display: grid;
            grid-template-columns: 1fr;
            gap: 30px;

            @media (min-width: 768px) {
                grid-template-columns: 1fr 1fr;
            }

            .project {
                display: grid;
                grid-template-columns: 1fr;
                grid-template-rows: auto 1fr auto;
                color: #191919;
                text-decoration: none;

                img {
                    width: 100%;
                    height: 302px;
                }

                h3 {
                    font-family: 'DM Sans', sans-serif;
                    font-weight: 700;
                    font-size: 22px;
                    padding-top: 35px;
                    padding-bottom: 16px;
                    border-bottom: 1px solid #DAD9D3;
                }

                .readmore {
                    padding: 15px;
                    display: block;
                    text-align: right;
                    font-family: 'Inter', sans-serif;
                    font-size: 14px;
                    font-weight: 500;
                    text-decoration: none;
                    color: #191919;

                    i {
                        margin-left: 3px;
                    }

                    &:hover .readmore {
                        text-decoration: underline;
                    }
                }
            }
        }
        .center-content {
            margin-top: 50px;
            margin-top: 50px;
        }
    }
}

.member-main {
    background-color:#F9D783;
    height: 1964px;

    .container {
        padding-top: 50px;

        p {
            padding-top: 70px;
            color: #F94D1C;
            font-size: 18px;
            font-family: 'Inter' sans-serif;
        }

        .member-header {
            display: flex;
            justify-content: space-between;

            h2 {
                font-family: 'DM sans', sans-serif;
                font-size: 45px;
                font-weight: 700;
            }

            a {
                border: 1px solid #191919;
                width: 221px;
                height: 56px;
                text-align: center;
            }
        }

        .members-img {
            display: flex;
            justify-content: space-between;
            margin-top: 80px;
 
            img {
                width: 308px;
                height: 420px;

                @media (max-width: 1350px ) {
                    width: 208px;
                    height: 320px;
                }

                @media (max-width: 995px ) {
                    width: 158px;
                    height: 280px;
                }  
            }

            h5 {
                padding-top: 30px;
                font-size: 22px;
                font-weight: 700;
                font-family: 'DM sans', sans-serif;
            }

            p {
                padding-top: 0px;
                font-size: 12px;
                font-weight: 400;
                color: #191919;
            }
        }

        .dots {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 80px;
        }
    }

    .Testimonial {
        display: flex;
        justify-content: center;
        align-items: center;
        padding-top: 40px;

        .container {
            background-color: white;
            height: 887px;

            .Testimonial-header{
                text-align: center;
                padding-top: 50px;

                p{
                    color: #F94D1C;
                }

                h2 {
                    font-family: 'DM sans', sans-serif;
                    font-size: 45px;
                    font-weight: 700;
                }
            }

            .rating-box {

                width: 420px;
                height: 402px;
                margin-top: 10px;

                i {
                    margin-top: 10px;
                    color: #F94D1C;
                }

                p {
                    font-size: 12px;
                    font-weight: 400;
                    color: #191919;
                    text-align:left;
                    padding: 0px;
                }

                img {
                    width: 70px;
                    height: 70px;
                    border-radius: 50px;
                }

                .text-box {
                    margin-left: 15px;

                    h5 {
                        margin: 0px;
                    }

                    p {
                        margin: 0px;
                        color: #F94D1C;
                    }
                }
            }
        }
    }
}

.pagetitle-section {
    background-color: #F0EFE9;
    height: 300px;

    .container {
        display: grid;
        text-align: center;
        justify-content: center;
        align-items: center;

        h2 {
            font-family: 'DM Sans', sans-serif;
            font-size: 56px;
            font-weight: 700;
        }

        .breadcrumb {
            margin-top: 50px;
            margin-bottom: 0px;
            padding-left: 25px;
            padding-top: 20px;
            display: flex;
            text-align: center;
            justify-content: center;
            align-items: center;
            padding: 0px;

            p {
                text-decoration: none;
                font-size: 16px;
                font-weight: 400;
                color: #191919;
            }
        }
    }
}

.article-main-section {
    position: relative;
    z-index: 0;
    padding: 60px 0 60px 0;

    .container {

        .head-news {
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding-bottom: 40px;

            h2 {
                flex: 1;
                font-family: 'DM Sans' sans-serif;
                font-size: 45px;
                font-weight: 700;
            }
        }

        .articles-post {
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
            gap: 10px;
            margin-bottom: 40px;

            .articles {
                position: relative;
                text-decoration: none;
                color: #191919;
                padding: 20px;
                

                .post-date {
                    position: absolute;
                    left: 30px;
                    top: 30px;
                    background-color: #F0D082;
                    height: 64px;
                    width: 56px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    flex-direction: column;

                    .day {
                        font-family: 'DM Sans' sans-serif;
                        font-size: 22px;
                        font-weight: 700;
                        margin-bottom: 10px;
                    }

                    .month {
                        font-family: 'Inter' sans-serif;
                        font-size: 16px;
                        font-weight: 400;
                    }
                }

                img {
                    height: 230px;
                    width: 100%;
                    -o-object-fit: cover;
                    object-fit: cover;
                }

                h6 {
                    font-family: 'Inter' sans-serif;
                    font-size: 16px;
                    font-weight: 400;
                    margin-top: 20px;
                }

               h5 {
                font-family: 'DM Sans' sans-serif;
                font-size: 22px;
                font-weight: 700;
                margin-top: 20px;
               }

               p{
                font-family: 'Inter' sans-serif;
                font-size: 16px;
                font-weight: 400;
               }

               &:hover {
                border: 1px solid #F0EFE9;
               }
            }
        }

        .nav-page {
            display: flex;
            justify-content: center;
            align-items: center;

            .news-link {
                height: 39px;
                width: 39px;
                display: flex;
                justify-content: center;
                align-items: center;
                border-radius: 10px;
                text-decoration: none;
                color: #191919;

                &:Hover {
                    background-color: #191919;
                    color: #FFFFFF;
                }
            }

        }           
    }

}

.news-article-section {
    margin-top: 50px;

    .container {
        display: flex;

        .container-news {
            width: 768px;
            margin-bottom: 50px;
        

            .newsdata {
                width: 670px;

                .fa-circle {
                    color: #F9D783;
                    font-size: 12px;
                }

                h2 {
                    font-family: 'DM Sans' sans-serif;
                    font-size: 45px;
                    font-weight: 700;
                    margin-bottom: 20px;
                }

                .news-details {
                    width: 506px;
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    font-family: 'DM Sans' sans-serif;
                    font-size: 20px;
                    font-weight: 400;
                    margin-bottom: 30px;
                    
                }
            }

            .article-for-news {

                .content {
                    
                    .img-article-news {
                        height: 500px;
                        width: 758px;
                        -o-object-fit: cover;
                        object-fit: cover;
                    }

                    p {
                        font-family: 'Inter', sans-serif;
                        font-size: 16px;
                        font-weight: 400;
                        margin-bottom: 32px;
                        margin-top: 40px;
                    }

                    .text-news {
                        margin-bottom: 30px;
                        margin-top: 30px;
                    }

                    .tags {
                        display: flex;
                        justify-content: space-between;
                        align-items: center;
                        width: 681px;

                        span {
                            color: #191919;
                            background-color: #F3F3F3;
                            padding: 10px 20px;
                            border-radius: 25px;
                            margin-right: 12px;
                        }
                    }
                }
            }
        }
        .searchfield-box {
            width: 420px;
            margin-left: 120px;

            .searchfield {
                margin-top: 55%;
                margin-bottom: 40px;
                
                input {
                    border: none;
                }
            }

            .recent-posts {
                height: 554px;
                border: 1px solid #19191915;
                margin-top: 25px;
            }

            .categories-style {
                height: 326px;
                border: 1px solid #19191915;
                margin-top: 25px;
            }

            h4 {
                font-family: 'DM Sans' sans-serif;
                font-size: 22px;
                font-weight: 700;
                padding-top: 30px;
                padding-bottom: 20px;
                padding-left: 25px;
            }

            h5 {
                font-family: 'DM Sans' sans-serif;
                font-size: 16px;
                font-weight: 700;
                padding-left: 25px;
                margin-top: 15px;
            }

            p {
                font-family: 'Inter' sans-serif;
                font-size: 14px;
                font-weight: 400;
                padding-left: 25px;
            }

            span {
                font-family: 'DM Sans' sans-serif;
                font-size: 16px;
                font-weight: 700;
                color:#DAD9D3;
            }

        }
    }
}

.contact-section {

    .container {
        display: flex;
        justify-content:space-evenly;
        align-items: center;
        margin-top: 70px;
        margin-bottom: 50px;

        .contact-info {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 420px;
            height: 206px;
            gap: 20px;
            border: 1px solid #F0EFE9;

            .contact-circle {
                padding-bottom: 50px;;
                border-radius: 50%;
                height: 50px;
                width: 50px;
                background-color:#191919;
                display: flex;
                justify-content: center;
                align-items: center;
                margin-bottom: 30px;

                i {
                    margin-top: 45px;
                    color: #FFFFFF;
                }
            }

            h6 {
                font-family: 'DM Sans' sans-serif;
                font-size: 22px;
                font-weight: 700;
            }

            p {
                padding: 0px;
                margin: 0px;
                font-family: 'Inter', sans-serif;
                font-size: 16px;
                font-weight: 400;
            }
        }
    }
}

.contact-form {

    .container {
        height: 766px;
        background-color: #F0EFE9;

        .form-design {
            padding-top: 100px;
            display: grid;
            justify-content:center;
            align-items: center;

            .contact-h3 {
                display: flex;
                justify-content: center;
                margin-bottom: 15px;

                h3 {
                    font-family: 'DM Sans' sans-serif;
                    font-size: 45px;
                    font-weight: 700;
                    width: 441px;
                    margin-bottom: 40px;
                }
            }

              form {
                width: 1021px;
                display: grid;
                gap: 10px;

                .btn-yellow {
                    margin-top: 100px;
                }

                .form-style {
                    border: none;
                    padding-top: 15px;
                    padding-bottom: 15px;
                    padding-left: 25px;
                    border-radius: 20px;
                }
                
            }

        }
    }
}

.googlemap-section {
    margin-top: 100px;

    .google-map {

        width: 100%;
        height: 620px;
    }
}

.news-update {
    background-color: #F0EFE9;
    height: 270px;
    text-align: right;
  
    .container {

        .signup-news {
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding-top: 100px;

            @media (max-width: 1200px){
                display: grid;
            }

            h2 {
                font-family: 'DM Sans' sans-serif;
                font-size: 45px;
                font-weight: 700;
            }

            .signup-for-news {
                display: flex;
                align-items: center;

                .style-input {
                    border: none;
                    padding-right: 50px;
                    padding-left: 20px;
                    border-radius: 50px;
                    padding-top: 10px;
                    padding-bottom: 10px;
                }


            }
        }     
    }
}

.singel-articles-news {
    margin-top: 120px;
    margin-bottom: 70px;

    .container {

        .articles-news-headline {
            display: flex;
            justify-content: space-between;
            align-items: last baseline;
            margin-bottom: 10px;

            h2 {
                font-family: 'DM Sans' sans-serif;
                font-size: 45px;
                font-weight: 700;
            }

            p   {
                font-family: 'Inter' sans-serif;
                font-size: 16px;
                font-weight: 400;
                color: #F94D1C;
            }

            .btn-transparent {
                @media (max-width: 995px){
                    display: none;
                }
            }
        }



        .articles-post {
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
            gap: 10px;
            margin-bottom: 40px;

            .articles {
                position: relative;
                text-decoration: none;
                color: #191919;
                padding: 20px;
                

                .post-date {
                    position: absolute;
                    left: 30px;
                    top: 30px;
                    background-color: #F0D082;
                    height: 64px;
                    width: 56px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    flex-direction: column;

                    .day {
                        font-family: 'DM Sans' sans-serif;
                        font-size: 22px;
                        font-weight: 700;
                        margin-bottom: 10px;
                    }

                    .month {
                        font-family: 'Inter' sans-serif;
                        font-size: 16px;
                        font-weight: 400;
                    }
                }

                img {
                    height: 230px;
                    width: 100%;
                    -o-object-fit: cover;
                    object-fit: cover;
                }

                h6 {
                    font-family: 'Inter' sans-serif;
                    font-size: 16px;
                    font-weight: 400;
                    margin-top: 20px;
                }

               h5 {
                font-family: 'DM Sans' sans-serif;
                font-size: 22px;
                font-weight: 700;
                margin-top: 20px;
               }

               p{
                font-family: 'Inter' sans-serif;
                font-size: 16px;
                font-weight: 400;
               }

               &:hover {
                border: 1px solid #F0EFE9;
               }
            }
        }
    }
}

footer {
    background-color: #0E1021;
    
    .footer-main {
        border-bottom: #696969 solid 0.1px;
        text-align: right;
        
        .whiteline-logo {
            position: relative;
            top: 300px;
        }
    
        .container {
            display: flex;
            justify-content: space-between;
            height: 300px;
            text-align: left;
    
            .footer-left-logo {
                width: 309px;
    
                p {
                    margin-top: 25px;
                    color: #F0EFE9;
                }
            }

            .footer-links {
                height: 300px;
                font-family: 'DM sans', sans-serif;
            
                h5 {
                    color: #F0EFE9;
                    margin-bottom: 30px;
                    font-family: 'DM Sans' sans-serif;
                    font-size: 22px;
                    font-weight: 700;
                }

                a {
                    color: #F0EFE9;
                    text-decoration: none;
                    font-family: 'Inter' sans-serif;
                    font-size: 16px;
                    font-weight: 400;
                }

                .footer-link {
                  padding-top: 10px;  
                }
            }           
        }
    }

    .lower-foot {
        display: flex;
        justify-content: space-between;
        padding-top: 15px;

        p {
            color: #F0EFE9;
        }
    }
}

